<div class="container">
    <header>
        <h1>About Mubira Family Social</h1>
        <p>Welcome to our web application</p>
    </header>

    <div class="about">
        <p>
            Gitungo Mubira was the eldest child of Mubira and Njoki wa Ragui. He was born in Kamundu Village, Kiambu, and later moved to Kibichiku Village. He had two sisters, Kanyiha and Wahu.
        </p>
        <p>
            From a young age, Gitungo was initiated into the Kanyutu age group, signifying his entry into adulthood in his community. He pursued farming as his primary livelihood. Gitungo married Wamaitha wa Kamondia from Kiahuria Village, who belonged to the Kamamande age group. Together, they had five children: Michael Ngugi, John Mbugua, Nyakaninia Gatura, Mwihaki Gikaru, and Mwembu Kariuki.
        </p>
        <p>
            Tragically, Gitungo Mubira's life was cut short in 1918 during World War I. He passed away and was buried in Kibwezi. Despite his hardships, Gitungo did not have the opportunity to know his biological parents. He was raised by Mr. King'au from Ndumberi.
        </p>
        <p>
            Gitungo was known for his tall, lean build and light complexion. His legacy continues through his descendants and the stories passed down through generations.
        </p>
        <!-- <p>All about the app, it's features and how it functions</p> -->
    </div>
</div>