<body>
  <header>
    <h1>Our Family Tree</h1>
    <p>Discover the generations of our family</p>
  </header>

  <div class="tree">
    <ul>
      <li>
        <div class="person">Great-Grandparent</div>
        <ul>
          <li>
            <div class="person">Samuel Kamau</div>
            <ul>
              <li>
                <div class="person">Francis Mburu Kamau</div>
                <ul>
                  <li><div class="person">Child 1</div></li>
                  <li><div class="person">Child 2</div></li>
                  <li><div class="person">Child 1</div></li>
                  <li><div class="person">Child 2</div></li>
                </ul>
              </li>
              <li>
                <div class="person">Moses Ngugi Kamau & Roxana Wanjai Kamau</div>
                <ul>
                  <li><div class="person">Penninah Njoki Ngugi</div>
                    <ul>
                      <li><div class="person">Ahadi Wanjai</div></li>
                    </ul>
                  </li>
                  <li><div class="person">Samuel Kamau Ngugi</div></li>
                  <li><div class="person">Kenneth Kigathi Ngugi</div></li>
                  <li><div class="person">Christine Waruga Ngugi</div></li>
                  <li><div class="person">Francis Mburu Ngugi</div></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <div class="person">Grandparent's Sibling</div>
            <ul>
              <li>
                <div class="person">Cousin 1</div>
                <ul>
                  <li><div class="person">Child 5</div></li>
                  <li><div class="person">Child 6</div></li>
                </ul>
              </li>
              <li>
                <div class="person">Cousin 2</div>
                <ul>
                  <li><div class="person">Child 7</div></li>
                  <li><div class="person">Child 8</div></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>
