<div class="container text-center">
  <section class="head">
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/socials">Socials</a>
      <a routerLink="/tree">Family Tree</a>
      <a routerLink="/careers">Careers</a>
    </nav>
  </section>
  
  <section class="body"><router-outlet></router-outlet></section>

  <footer class="footer">
    <h2>Get In Touch</h2>
    <p>
      Contact us today to learn more about how we can improve the Mubira community.<br>
      <a href="mailto:francismburu75&#64;gmail.com"><i class="fa fa-envelope"></i> francismburu75&#64;gmail.com</a><br>
      <a href="tel:+254-798-375-876"><i class="fa fa-phone"></i> +254 798 375 876</a>
    </p>
  </footer>
</div>
