<div class="container">

    <header>
        <h1>Social & Formal Groups</h1>
        <p>Connect for Business and Entertainment</p>
    </header>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6" align="left">
            <p>* dropbown for different groups *</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="right">
            <p>* Login *</p>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="
        font-size: larger;
        height: 200px; 
        background: blue;
        color: white;
        ">
        * each group displays notifications here *
    </div>

    <div>
        * Send a message here *
    </div>
</div>