<body>

  <header>
    <h1>MBARI YA MUBIRA</h1>
    <p>Bringing generations of our family together.</p>
  </header>

  <div class="tree">
    <p>
      The Great Mubira's legacy spans +6 remarkable generations, 
      weaving a tale of resilience, love, and growth. This lineage is a 
      testament to timeless bonds and enduring strength. 
    </p>
    <p>
      The Great Mubira and his wives spring a vibrant legacy of 
      generations. This family thrives as a living testament to 
      heritage and connection.
    </p>
    <p>
      Through the twists and turns of time, each generation has added its 
      own flavor to the family’s story-lives intertwined by shared roots 
      yet shaped by unique paths.
    </p>
    <p>
      Together, they form a colorful tapestry, 
      where every name and branch brings the legacy of Mubira to life.
    </p>
    <p>
      Explore our application to experience different features on this app
      only designed for mubira family.
    </p>
    <img>
    <p>
      * Notifications, News and Alerts come here. *
    </p>
    <img>
  </div>

</body>